<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

    <main class= "container"><div class="jumbotron">

     
      <h6 class="display-4">Welcome to  <%= title %> page 
      
        
      </h6>
      <h2>Thank you so much for viewing my assignment</h2>

      <h2>Please login to acccess the secure area i.e the contacts</h2>

      <h2>If you dont like to register please use the default credentials</h2>
      <h2>username:admin password:admin</h2>

    </div></main>
    
    
  <%- include partials/bottom_nav.ejs %>
  <%- include partials/footer.ejs %>
    
   


    
 